.swimming-blocks {
  background-color: #fff;
  padding: 60px 80px;
}

.site-title {
  color: #e79802;
}

.swimming-types {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}