.swimming-blocks {
  background-color: #fff;
  padding: 60px 80px;
}

.site-title {
  color: #e79802;
}

.swimming-types {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

@media (max-width: 1024px) {
  .swimming-blocks {
    padding: 40px 20px;
  }

  .swimming-types {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .swimming-blocks {
    padding: 20px 10px;
  }

  .swimming-types {
    grid-gap: 10px;
  }
}