* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

img {
  width: 100%;
}

.swimming-comtainer {
  display: grid;
  grid-template-columns: 75% 25%;
}

@media (max-width: 1024px) {
  .swimming-comtainer {
    grid-template-columns: 65% 35%;
  }
}

@media (max-width: 767px) {
  .swimming-comtainer {
    grid-template-columns: 100%;
  }
}